body{
    font-family: 'Raleway',sans-serif;
    background-color: #f8f2e8;
}
.banner{
    background-image: url(../src/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.banner-profile{
    background-image: url(../src/images/banner-profile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}
.nav-bar  {
    font-size: 20px;
    transition: linear;
    transition-duration: 0.7s;
    background-color: white;
    color: #B91319 !important;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #B91319;
    color: white !important;
    cursor: pointer;
}
.nav-bar-scroll {
    transition: all;
    transition-duration: 0.6s;
    background-color: #B91319;
    font-size: 20px;
    color: white !important;
}
.promotions {
    background-image: url(../src/images/promotions.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    background-position: center;
    height: 80vh;
}
.promotions-icon:hover {
    transition: all;
    transition-duration: 0.7s;
    background-color: #B91319;
}
.promotions-icon {
    transition: all;
    transition-duration: 0.9s;
}
.intro {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.divider-d-dashed {
    border-bottom: 1px dashed #d7d7d7;
    border-top: 1px dashed #d7d7d7;
    float: left;
    height: 7px;
    margin: 10px 0 45px;
    width: 100%;
}
/* "#B91319" */
.button-google:hover {
    font-size: 14px;
    color: black !important;
    background-color: #ea4335;
  }

.menu-items{
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.menu-items .dotted-line{
    border-top: 2px dotted #ccc;
    left: 0;
    position: absolute;
    top: 18px;
    width: 100%;
    z-index: -1;
}

.dotted{
    border-bottom: 2px dotted black;
   z-index: -1;
}


.swiper-slide{
    text-align: start;
    font-size: 14px;
}

.product-view{
    position: relative;
    overflow: hidden;
}
.product-view-cart{
    background-color: rgba(128, 128, 128, 0.185);
    height: 45px;
    position: absolute;
    color: #B91319;
    bottom: -30%;
    transition: all 0.7s;
}

.product-quick-view{
    position: absolute;
    height: 45px;
    background-color: rgba(128, 128, 128, 0.185);;
    color: #B91319;
    transition: all 0.7s;
    top: -30%;
}
.product-view:hover > .product-view-cart{
    bottom: 0;
}
.product-view:hover > .product-quick-view{
    top: 0;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

 .page-item.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: #B91319 ;
    border-color: #B91319;
}

.page-link{
    color: #B91319;
}
.page-link:hover{
    color: #B91319;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(185, 19, 25, 0.048);
}

.carousel-cake{
    position: relative;
}
/* .react-multiple-carousel__arrow--right{
    position: absolute;
    right: -5%;
    
} */

@media (min-width: 576px) {
    .img {
      height: 200px;
    }
  }
@media (min-width: 800px) {
    .img {
      height: 298px;
    }
  }
@media (min-width: 1080px) {
    .img {
      height: 298px;
    }
  }
@media (min-width: 2560px) {
    .img {
      height: 298px;
    }
  }
@media (min-width: 1350px) {
    .img {
      height: 298px;
    }
  }